a, a:visited {
  color: white;
}

button {
  width: 200px;
  height: 50px;
}

.button {
  background-color: red;
  width: 200px;
  height: 50px;
}

#button {
  background-color: blue;
  width: 200px;
  height: 50px;
}